<%= stylesheet_link_tag  "bootstrap" %>

<h3>Choose Your Authentication Style</h3>
<div class="btn-toolbar">
	<div class="btn-group">
		<a class="btn" href="/authenticate/oauth">Traditional OAuth</a>
		<a class="btn" href="/authenticate/smart_rest">SMART REST</a>
		<a class="btn" href="/authenticate/smart_connect">SMART Connect</a>
	</div>
</div>
